global:
  enabled: false
  logLevel: "debug"
  name: ${cluster_name}
  datacenter: ${datacenter}
  #image: "hashicorp/consul-enterprise:${consul_version}"
  #image: "ndhanushkodi/consul-ent-dev:partitionfailover"
  image: "ndhanushkodi/consul-ent-dev:partitionfailover-aclplusSNI"
  imageK8S: docker.mirror.hashicorp.services/hashicorp/consul-k8s-control-plane:${consul_helm_chart_version}
  imageConsulDataplane: "hashicorp/consul-dataplane:1.0.0"

  enableConsulNamespaces: true
  adminPartitions:
    enabled: true
    name: ${partition}
  peering:
    enabled: true
  acls:
    manageSystemACLs: true
    bootstrapToken:
      secretName: consul-bootstrap-acl-token
      secretKey: token
  tls:
    enabled: true
    caCert:
      secretName: consul-ca-cert
      secretKey: tls.crt

externalServers:
  enabled: true
  hosts: ["${consul_external_servers}"]
  tlsServerName: "server.${datacenter}.consul"
  httpsPort: 8501
  grpcPort: 8502
  useSystemRoots: false
  k8sAuthMethodHost: ${aks_cluster}

server:
  enabled: false

connectInject:
  transparentProxy:
    defaultEnabled: true
  enabled: true
  default: true
  consulNode:
    meta: 
      node: "${cluster_name}-agentless-node"

#controller:
#  enabled: true

meshGateway:
  enabled: true
  replicas: 1
  service:
    enabled: true
    type: LoadBalancer
    annotations: |
      service.beta.kubernetes.io/azure-load-balancer-internal: "true"

ingressGateways:
  enabled: true
  defaults:
    replicas: 1
  gateways:
    - name: ingress-gateway
      service:
        type: LoadBalancer