global:
  name: consul
  image: "hashicorp/consul-enterprise:1.14.1-ent"
  imageK8S: docker.mirror.hashicorp.services/hashicorp/consul-k8s-control-plane:1.0.1
  imageConsulDataplane: "hashicorp/consul-dataplane:1.0.0"
  enableConsulNamespaces: true
  enterpriseLicense:
    secretName: 'consul-ent-license'
    secretKey: 'key'
    enableLicenseAutoload: true
  datacenter: ${datacenter}
  peering:
    enabled: true
  adminPartitions:
    enabled: true
    name: ${partition}

  # TLS configures whether Consul components use TLS.
  tls:
    enabled: true
  acls:
    manageSystemACLs: true

server:
 replicas: 3
 bootstrapExpect: 3
 exposeService:
    # When enabled, deploys a Kubernetes Service to reach the Consul servers.
    # @type: boolean
    enabled: true
    type: LoadBalancer
    annotations: |
      service.beta.kubernetes.io/azure-load-balancer-internal: "true"

 extraConfig: |
   {
     "log_level": "TRACE"
   }

connectInject:
  enabled: true
  transparentProxy:
    defaultEnabled: false
  consulNamespaces:
    mirroringK8S: true

meshGateway:
  enabled: true
  replicas: 3
  service:
    enabled: true
    type: LoadBalancer
    annotations: |
      service.beta.kubernetes.io/azure-load-balancer-internal: "true"

#controller:
#  enabled: true

ui:
  enabled: true
  service:
    enabled: true
    type: LoadBalancer