#provider "azurerm" {
#  features {}
#}

module "consul_${cluster_name}" {
  source   = "../modules/helm_install"
  release_name  = "${release_name}"
  chart_name         = "${consul_chart_name}"
  azure_key_vault_id   = "${key_vault_id}"
  azure_key_vault_name = "${key_vault_name}"
  key_vault_resource_group_name = "${key_vault_resource_group_name}"
  resource_group_name  = "${azurerm_resource_group}"
  datacenter           = "${datacenter}"
  consul_partition     = "${partition}"
  cluster_name         = "${cluster_name}"
  server_replicas      = 3
  consul_version       = "${consul_version}"
  consul_license       = file("../files/consul.lic")
  enable_cluster_peering     = ${enable_cluster_peering}
  consul_helm_chart_version  = "${consul_helm_chart_version}"
  
  # If WAN Federation is enabled, verify primary/secondary and configure accordingly
  %{ if primary == "0" }primary_datacenter         = true%{ else }primary_datacenter         = false%{ endif }
  %{ if tobool(enable_cluster_peering) == false }
  %{ if primary == "0" }consul_helm_chart_template = "values-primary-cluster-${consul_helm_chart_version}.yaml"
  %{ else }consul_helm_chart_template = "values-secondary-cluster-${consul_helm_chart_version}.yaml"
  primary_datacenter_name    = "${primary_datacenter_name}" %{ endif }
  %{ else }consul_helm_chart_template = "${consul_helm_chart_template}"
  %{ endif }
}

